<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}registration{% endblock %}

{% block header %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/style_signup.css' %}"/>
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{% endblock %}

{% load crispy_forms_tags %}

{% block body %}
    <div class="container theme-showcase" role="main">
        <h1 class="container-title">registration</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="submit_button" type="submit">[ SUBMIT ]</button>
        </form>
        <br>
    </div>
{% endblock %}

{% block ws_channels %}
{% endblock %}

{% block footer %}
{% endblock %}
