aioredis==1.2.0
amqp==2.4.0
asgiref==2.3.2
async-timeout==3.0.1
attrs==18.2.0
autobahn==19.1.1
Automat==0.7.0
Babel==2.6.0
beautifulsoup4==4.7.1
billiard==3.5.0.5
bs4==0.0.1
celery==4.2.1
certifi==2018.11.29
channels==2.1.6
channels-redis==2.3.3
chardet==3.0.4
constantly==15.1.0
daphne==2.2.4
Django==2.2a1
django-celery-beat==1.4.0
django-crispy-forms==1.7.2
django-timezone-field==3.0
flower==0.9.2
hiredis==1.0.0
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
kombu==4.2.2.post1
lxml==4.3.0
msgpack==0.6.1
psycopg2==2.7.7
psycopg2-binary==2.7.7
PyHamcrest==1.9.0
python-crontab==2.3.6
python-dateutil==2.7.5
python-decouple==3.1
pytz==2018.9
redis==3.0.1
requests==2.21.0
selenium==3.141.0
six==1.12.0
soupsieve==1.7.3
sqlparse==0.2.4
stripe==2.19.0
tornado==6.0a1
Twisted==18.9.0
txaio==18.8.1
urllib3==1.24.1
vine==1.2.0
zope.interface==4.6.0
