<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Savasana Page{% endblock %}

{% block header %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/style_edit_profile.css' %}"/>
{% endblock %}

{% block body %}
    <div class="container theme-showcase" role="main">
        <div class="container-body">
            <h1>500</h1>
            <p>Seems like the requested URL is taking a savasana... for good.</p>
        </div>
    </div>
{% endblock %}
