.container {
    max-width: 375px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 13px;

    margin-top: 60px;
}

.container-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 32px;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 640px;
    /*margin-top: 60px;*/
    margin-bottom: auto;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#aaaaaa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#aaaaaa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
    border: 1px solid;
}

.carousel-indicators .active {
    background-color: #000000;
    border: 0 solid;
}

.title-link{
    text-decoration: none;
}

.title-link:hover{
    color: white;
    background-color: black;
}